<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="connectionString" connectionString="Server=127.0.0.1;Database=world;Uid=root;Pwd=gb2013;" providerName="world"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Spring.Core" publicKeyToken="65e474d141e25e07" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.3.2.20943" newVersion="1.3.2.20943"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>